/* ---- reset ---- */

body {
    margin: 0;
    font: normal 75% Arial, Helvetica, sans-serif;
    overflow: hidden;
}
html, body {
 overflow:hidden;
width:100%;
}


canvas {
    display: block;
    vertical-align: bottom;
}
/* ---- particles.js container ---- */

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #b61924;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    overflow: hidden;
}
/* ---- stats.js ---- */

.count-particles {
    background: #000022;
    position: absolute;
    top: 48px;
    left: 0;
    width: 80px;
    color: #13E8E9;
    font-size: .8em;
    text-align: left;
    text-indent: 4px;
    line-height: 14px;
    padding-bottom: 2px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
}

.js-count-particles {
    font-size: 1.1em;
}

#stats,
.count-particles {
    -webkit-user-select: none;
    margin-top: 5px;
    margin-left: 5px;
}

#stats {
    border-radius: 3px 3px 0 0;
    overflow: hidden;
}

.count-particles {
    border-radius: 0 0 3px 3px;
}

.panel-grid {
  height: 60%;
  padding: 10px;
  position: absolute;
  text-align: center;
  width: 455px;
  z-index: 2;
  top: 23%; left: 38%;
}
.grid-ul{
    height: 330px; width: 330px; position: relative; background-color: #000; color: #eee; font-size: 30px; font-family: fantasy; padding: 20px 10px 10px 10px;
}
.gridster li{
list-style: none;
 cursor: move;
    border-radius: 15px;
    overflow: hidden;
}
.gridster img{
height: 100%;
    width: 100%;
}

.profile-image{
    left: 15px;
    position: absolute;
    top: 8px;
    width: 90px;
}
.family-image {
    bottom: 140px;
    left: -60px;
    position: relative;
    z-index: 3;
    /* top: 172px; */
    width: 169px;
    height: 100px;
     -ms-transform: rotate(-20deg); /* IE 9 */
    -webkit-transform: rotate(-20deg); /* Safari */
    transform: rotate(-20deg);
}
.sis-image{
    left: -41px;
    position: relative;
    z-index: 3;
    bottom: 124px;
    width: 90px;
}
.img-circle {
    border-radius: 50%;
}
.img-square {
    border: 10px solid #eee;
}
.birth-day {
    height: 20px;
    width: 73px;
    background-color: #000;
    position: absolute;
    z-index: 2;
    color: #eee;
    font-family: cursive;
    top: 111px;
    left: 24px;
}
.balloon{
    position: relative;
    left: 295px;
    bottom: 529px;
    z-index: 3;
    height: 130px;
    width: 100px;
 }
 .balloon img{ 
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;

 }
 .balloon:hover img {
     -webkit-transform: translateY(-50%);
     transform: translateY(-50%);
     top: 50%;
 }
    
@-webkit-keyframes shakeme {
        0% { transform: translate(2px, 1px) rotate(0deg); }
        10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
        20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
        30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
        40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
        50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
        60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
        70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
        80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
        90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
        100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); }
    }
    .shakeme:hover,
    .shakeme:focus {
        -webkit-animation-name: shakeme;
        -webkit-animation-duration: 0.8s;
        -webkit-transform-origin:50% 50%;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-timing-function: ease;
    }
    
       
    


/* Portrait and Landscape */
@media only screen and (max-width: 500px) {
    .panel-grid {
      height: 60%;
      padding: 10px;
      position: absolute;
      text-align: center;
      width: 455px;
      z-index: 2;
      top: 23%; left: 4%;
    }
}
